﻿/* CSS para a div dos actions */
div.actions { background-color: #FFFFFF !important; 
              background-image: none !important; 
              border: none !important; 
              float: right !important; 
              margin-right: auto !important; 
              -moz-transform-origin: bottom right; 
              -ms-transform-origin: bottom right; 
              -o-transform-origin: bottom right; 
              -webkit-transform-origin: bottom right; 
              transform-origin: bottom right;
}
